header {
    background-color: #8b4513;
    justify-content: space-between;
    height: 10rem;
    padding: 1.3rem;
    display: flex;
    gap: 15px;
}

.logo {
    box-shadow: 0 0 0 3px #8b4513 inset;
    min-width: calc(20rem + 1vw);
    background-color: #101820;
    border: solid 3px #101820;
    min-height: calc(100%);
    align-items: center;
    border-radius: 2rem;
    display: flex;
    padding-inline: 3rem;
}

.logo img {
    width: 3rem;
    margin-right: 3rem;
}

.logoText {
    color: #fff;
}

.logoText :first-child {
    font-size: 1.5rem;
}

.logoText :last-child {
    font-size: 1rem;
}

nav {
    background-color: #f5f5dc;
    display: flex;
    align-items: center;

}

nav a {
    font-size: 2rem;
    padding-inline: 1rem;
}